.error {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(rgb(86, 86, 255), white);
}


.spinner {
    width: 156px;
    height: 156px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 4.6em;
    }

    90%,
    100% {
        width: 0;
    }
}

/* .terminal-loader {
    width: 100%;
    max-width: 400px;
    height: 200px;
    background: #1c1c1c;
    border: 1px solid #ffffff3e;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
/* } */

/* .terminal-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    padding: 6px;
} */

/* .terminal-controls {
    position: absolute;
    left: 10px;
    display: flex;
    gap: 7px;
} */

/* .control {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #777;
} */

/* .control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
} */

.terminal-title {
    color: #eeeeeec1;
    display: none;
}

.content {
    padding: 10px;
}

.text {
    font-size: 80px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(86, 43, 255);
    animation: typeAndDelete 6s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    color: rgb(42, 46, 255);
    font-weight: 600;
    text-decoration: none;
}

.exit {
    margin-top: -300px;
    background-color: red;
}

